<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :last_checked %><br>
    <%= f.date_select :last_checked %>
  </div>
  <div class="field">
    <%= f.label :download_to %><br>
    <%= f.text_field :download_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
