<p id="notice"><%= notice %></p>

<h1>Listing Path Mappers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @path_mappers.each do |path_mapper| %>
      <tr>
        <td><%= path_mapper.title %></td>
        <td><%= path_mapper.path %></td>
        <td><%= link_to 'Show', path_mapper %></td>
        <td><%= link_to 'Edit', edit_path_mapper_path(path_mapper) %></td>
        <td><%= link_to 'Destroy', path_mapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Path mapper', new_path_mapper_path %>
